#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.contact-list {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

.contact-container {
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    align-items: center;
    justify-items: start;
}
